<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <% include ./partials/nav %>
      <div class="card" style="width: 50%">
      <form method="post" action="/squadOpt/player/add" style="padding: 20px">
          <div class="form-group">
              <label for="handle" class="text-primary">Handle</label>
              <input class="form-control" id="handle" name="handle"></textarea>

              <label for="outfit" class="text-primary">Outfit</label>
              <input class="form-control" id="outfit" name="outfit"></textarea>

          </div>
              <input type="submit" class="btn btn-primary" value="Add Player">
      </form>
      </div>
    </div> <!-- container -->
  </body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</html>
